.header {
  background: url('../../images/freeslovenia/top-bg.png') no-repeat #35c8ff;
  
  h1 {
    color: $white;
    font-size: 60px;
    line-height: 120%;
    font-family: 'Raleway';
    font-weight: 900;
  }
  
}