.header {
  background: url('../../images/freeslovenia/bg-one.jpg') center no-repeat;
  background-color: $primary;

  .header__wrap {
    max-width: 970px;
    padding: 20px 15px 260px;
    background: url('../../images/freeslovenia/men.png') 95% 95px no-repeat;
  }

  h1 {
    color: $white;
    font-size: 60px;
    line-height: 1.2;
    font-family: 'ralewayblack';
    font-weight: 900;
    max-width: 600px;
    margin: 0 0 20px;
    padding-top: 160px;
    background: url('../../images/freeslovenia/ball.png') right top no-repeat;
  }

  p {
    color: $white;
    font-size: 24px;
    line-height: 1.458;
    max-width: 470px;
    margin: 20px 0;
    font-weight: 300;
  }
  
}

@media (max-width: 880px) {
  
  .header {
    background: $primary;

    .header__wrap {
      background: none;
    }
    
    br {
      display: none;
    }
    
    h1 {
      max-width: initial;
      background-position: center top;
      padding-top: 240px;
    }

    p {
      max-width: initial;
    }

  }
  
}

@media (max-width: 768px) {

  .header {

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 20px;
    }

  }

}

@media (max-width: 480px) {

  .header {

    h1 {
      font-size: 36px;
      background-size: 290px;
    }

    p {
      font-size: 18px;
    }

  }

}